.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  color: blue;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #ffdb58;
}

.person {
  border: 2px solid #ddd;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 0 20%;
}

.person:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}


.person p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

.person h2 {
  color:blue;
}

.person h2:hover {
  color:black;
}

.person.clicked {
  background-color: #ffdb58;
}

.person.clicked h2 {
  color: #0077be;
}

.person.clicked {
  transition: all 0.3s ease-in-out;
}

/* all images same size */
.person img {
  width: 500px;
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
}